<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.even.dao.SysAuthMapper">
  <resultMap id="BaseResultMap" type="com.even.bean.SysAuth">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="auth_name" jdbcType="VARCHAR" property="authName" />
    <result column="auth_desc" jdbcType="VARCHAR" property="authDesc" />
    <result column="auth_url" jdbcType="VARCHAR" property="authUrl" />
    <result column="auth_icon" jdbcType="VARCHAR" property="authIcon" />
    <result column="auth_status" jdbcType="INTEGER" property="authStatus" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="auth_permission" jdbcType="VARCHAR" property="authPermission" />
    <result column="sort_id" jdbcType="INTEGER" property="sortId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, auth_name, auth_desc, auth_url, auth_icon, auth_status, parent_id, is_del, auth_permission, 
    sort_id
  </sql>
  <select id="selectByExample" parameterType="com.even.bean.SysAuthExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_auth
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_auth
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_auth
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.even.bean.SysAuthExample">
    delete from sys_auth
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.even.bean.SysAuth">
    insert into sys_auth (id, auth_name, auth_desc, 
      auth_url, auth_icon, auth_status, 
      parent_id, is_del, auth_permission, 
      sort_id)
    values (#{id,jdbcType=BIGINT}, #{authName,jdbcType=VARCHAR}, #{authDesc,jdbcType=VARCHAR}, 
      #{authUrl,jdbcType=VARCHAR}, #{authIcon,jdbcType=VARCHAR}, #{authStatus,jdbcType=INTEGER}, 
      #{parentId,jdbcType=BIGINT}, #{isDel,jdbcType=TINYINT}, #{authPermission,jdbcType=VARCHAR}, 
      #{sortId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.even.bean.SysAuth">
    insert into sys_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="authName != null">
        auth_name,
      </if>
      <if test="authDesc != null">
        auth_desc,
      </if>
      <if test="authUrl != null">
        auth_url,
      </if>
      <if test="authIcon != null">
        auth_icon,
      </if>
      <if test="authStatus != null">
        auth_status,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="authPermission != null">
        auth_permission,
      </if>
      <if test="sortId != null">
        sort_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="authName != null">
        #{authName,jdbcType=VARCHAR},
      </if>
      <if test="authDesc != null">
        #{authDesc,jdbcType=VARCHAR},
      </if>
      <if test="authUrl != null">
        #{authUrl,jdbcType=VARCHAR},
      </if>
      <if test="authIcon != null">
        #{authIcon,jdbcType=VARCHAR},
      </if>
      <if test="authStatus != null">
        #{authStatus,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="authPermission != null">
        #{authPermission,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null">
        #{sortId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.even.bean.SysAuthExample" resultType="java.lang.Long">
    select count(*) from sys_auth
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_auth
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.authName != null">
        auth_name = #{record.authName,jdbcType=VARCHAR},
      </if>
      <if test="record.authDesc != null">
        auth_desc = #{record.authDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.authUrl != null">
        auth_url = #{record.authUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.authIcon != null">
        auth_icon = #{record.authIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.authStatus != null">
        auth_status = #{record.authStatus,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=TINYINT},
      </if>
      <if test="record.authPermission != null">
        auth_permission = #{record.authPermission,jdbcType=VARCHAR},
      </if>
      <if test="record.sortId != null">
        sort_id = #{record.sortId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_auth
    set id = #{record.id,jdbcType=BIGINT},
      auth_name = #{record.authName,jdbcType=VARCHAR},
      auth_desc = #{record.authDesc,jdbcType=VARCHAR},
      auth_url = #{record.authUrl,jdbcType=VARCHAR},
      auth_icon = #{record.authIcon,jdbcType=VARCHAR},
      auth_status = #{record.authStatus,jdbcType=INTEGER},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      is_del = #{record.isDel,jdbcType=TINYINT},
      auth_permission = #{record.authPermission,jdbcType=VARCHAR},
      sort_id = #{record.sortId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.even.bean.SysAuth">
    update sys_auth
    <set>
      <if test="authName != null">
        auth_name = #{authName,jdbcType=VARCHAR},
      </if>
      <if test="authDesc != null">
        auth_desc = #{authDesc,jdbcType=VARCHAR},
      </if>
      <if test="authUrl != null">
        auth_url = #{authUrl,jdbcType=VARCHAR},
      </if>
      <if test="authIcon != null">
        auth_icon = #{authIcon,jdbcType=VARCHAR},
      </if>
      <if test="authStatus != null">
        auth_status = #{authStatus,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="authPermission != null">
        auth_permission = #{authPermission,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null">
        sort_id = #{sortId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.even.bean.SysAuth">
    update sys_auth
    set auth_name = #{authName,jdbcType=VARCHAR},
      auth_desc = #{authDesc,jdbcType=VARCHAR},
      auth_url = #{authUrl,jdbcType=VARCHAR},
      auth_icon = #{authIcon,jdbcType=VARCHAR},
      auth_status = #{authStatus,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=TINYINT},
      auth_permission = #{authPermission,jdbcType=VARCHAR},
      sort_id = #{sortId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!--TODO ******************************************************************************************-->

    <select id="selectAuthsByUserName" resultType="com.even.bean.SysAuth">
        select a.auth_name,a.auth_desc from sys_auth a
        left join sys_role_auth ro on ro.auth_id=a.id
        left join sys_role r on r.id=ro.role_id
        left join sys_user_role ur on ur.role_id=r.id
        left join sys_user u on u.id=ur.user_id
        where u.user_name=#{userName}
        order by a.id
    </select>

</mapper>